{% extends "layout.html" %}

{% block title %}
    Cubic
{% endblock %}

{% block main %}
<div class="container">
    <div class="jumbotron mt-4 p-4">
        <h1><b>Cubic Equation</b></h1>
        <p class="lead"></p>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Equation Type
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#cube1">Whole/Decimal Coefficients</a>
                <a class="dropdown-item" href="#cube2">Fractional Coefficients</a>
            </div>
        </div>
        <hr class="my-4">
        <p></p>

        <div id="app"></div>
        <!-- Dynamicaly generate proper equation to display from given inputs  -->
        <div style="text-align: center; display: {{ display }};" id="cube_sol">
            <h5 class="mt-5" style="text-align: left;">For Equation:</h5>
            <h4 class="mt-2"> 
                <b>
                {% if inputs['a'] != 0 %}
                    {% if inputs['f'] != 1 %}
                        `{{ inputs['a'] }}/{{inputs['f']}}x^3`
                    {% else %}
                        `{{ inputs['a'] }}x^3`
                    {% endif %}

                    {% if inputs['b'] != 0 %}
                        {% if inputs['g'] != 1 %}    
                            {% if inputs['b'] < 0 %}
                                {% set b = -inputs['b'] %} 
                                `- {{ b }}/{{inputs['g']}}x^2`
                            {% else %}
                                `+ {{ inputs['b'] }}/{{ inputs['g'] }}x^2`
                            {% endif %}
                        {% else %}
                            {% if inputs['b'] < 0 %}
                                {% set b = -inputs['b'] %}
                                `- {{ b }}x^2`
                            {% else %}
                                `+ {{ inputs['b'] }}x^2`
                            {% endif %}
                        {% endif %}
                    {% endif %}

                    {% if inputs['c'] != 0 %}
                        {% if inputs['h'] != 1 %}    
                            {% if inputs['c'] < 0 %}
                                {% set c = -inputs['c'] %} 
                                `- {{ c }}/{{inputs['h']}}x`
                            {% else %}
                                `+ {{ inputs['c'] }}/{{ inputs['h'] }}x`
                            {% endif %}
                        {% else %}
                            {% if inputs['c'] < 0 %}
                                {% set c = -inputs['c'] %}
                                `- {{ c }}x`
                            {% else %}
                                `+ {{ inputs['c'] }}x`
                            {% endif %}
                        {% endif %}
                    {% endif %}

                    {% if inputs['d'] != 0 %}
                        {% if inputs['i'] != 1 %}    
                            {% if inputs['d'] < 0 %}
                                {% set d = -inputs['d'] %} 
                                `- {{ d }}/{{inputs['i']}}`
                            {% else %}
                                `+ {{ inputs['d'] }}/{{ inputs['i'] }}`
                            {% endif %}
                        {% else %}
                            {% if inputs['d'] < 0 %}
                                {% set d = -inputs['d'] %}
                                `- {{ d }}`
                            {% else %}
                                `+ {{ inputs['d'] }}`
                            {% endif %}
                        {% endif %}
                    {% endif %}

                    `= 0`

                {% elif inputs['b'] != 0 %}
                    {% if inputs['g'] != 1 %}    
                        {% set b = inputs['b'] %} 
                        `{{ b }}/{{inputs['g']}}x^2`
                    {% else %}
                        {% set b = inputs['b'] %}
                        `{{ b }}x^2`
                    {% endif %}

                    {% if inputs['c'] != 0 %}
                        {% if inputs['h'] != 1 %}    
                            {% if inputs['c'] < 0 %}
                                {% set c = -inputs['c'] %} 
                                `- {{ c }}/{{inputs['h']}}x`
                            {% else %}
                                `+ {{ inputs['c'] }}/{{ inputs['h'] }}x`
                            {% endif %}
                        {% else %}
                            {% if inputs['c'] < 0 %}
                                {% set c = -inputs['c'] %}
                                `- {{ c }}x`
                            {% else %}
                                `+ {{ inputs['c'] }}x`
                            {% endif %}
                        {% endif %}
                    {% endif %}

                    {% if inputs['d'] != 0 %}
                        {% if inputs['i'] != 1 %}    
                            {% if inputs['d'] < 0 %}
                                {% set d = -inputs['d'] %} 
                                `- {{ d }}/{{inputs['i']}}`
                            {% else %}
                                `+ {{ inputs['d'] }}/{{ inputs['i'] }}`
                            {% endif %}
                        {% else %}
                            {% if inputs['d'] < 0 %}
                                {% set d = -inputs['d'] %}
                                `- {{ d }}`
                            {% else %}
                                `+ {{ inputs['d'] }}`
                            {% endif %}
                        {% endif %}
                    {% endif %}

                    `= 0`

                {% elif inputs['c'] != 0 %}
                    {% if inputs['h'] != 1 %}    
                        {% set c = inputs['c'] %} 
                        `{{ c }}/{{inputs['h']}}x`
                    {% else %}
                        {% set c = inputs['c'] %}
                        `{{ c }}x`
                    {% endif %}

                    {% if inputs['d'] != 0 %}
                        {% if inputs['i'] != 1 %}    
                            {% if inputs['d'] < 0 %}
                                {% set d = -inputs['d'] %} 
                                `- {{ d }}/{{inputs['i']}}`
                            {% else %}
                                `+ {{ inputs['d'] }}/{{ inputs['i'] }}`
                            {% endif %}
                        {% else %}
                            {% if inputs['d'] < 0 %}
                                {% set d = -inputs['d'] %}
                                `- {{ d }}`
                            {% else %}
                                `+ {{ inputs['d'] }}`
                            {% endif %}
                        {% endif %}
                    {% endif %}

                    `= 0`

                {% endif %}
                </b>
            </h4>

            <!-- Display the solution strings in the dict solutions -->
            <div class="mt-5">
                {% for key in solutions %}
                    <h3 class="m-3 p-4 bg-light"><b>`{{ key }} = {{ solutions[key] }}`</b></h3>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}