<!DOCTYPE html>

<html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=1200">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
      <link rel="stylesheet" href="/static/styles/style.css">

      <!-- Local jScript with inputs handling -->
      <script src="/static/script.js"></script>

      <!-- MathJax script to display the equations and inputs in proper format -->
      <script async="true" src="/static/MathJax/MathJax.js?config=AM_CHTML"> </script>

      <!-- Title of the page -->
      <title>&#119891 Equation Calulator: {% block title %}{% endblock %}</title>
    </head>

    <body class="bg-dark">
      <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <a class="navbar-brand align-middle" href="/">
          <img src="static/f.png" width="40" height="30" class="d-inline-block align-top" alt="">
          <b>Equation Calculator</b>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"><b>Home</b><span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/quadratic"><b>Quadratic</b></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/cubic"><b>Cubic</b></a>
            </li>
          </ul>
        </div>
      </nav>

    {% block main %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <footer class="small text-center text-muted">
      Algorithm used for calculating Cubic Equations is Cardano-Viète Algorithm from <a target="_blank" href="https://quarticequations.com">QuarticEquations.com</a>
    </footer>
    </body>
</html>